#about{
    text-align: center;
    color: goldenrod;
    margin-top: 20px;
    margin-bottom:  20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 36px;
}