#as {
    font-size: 3rem;
    letter-spacing: 2px;
    text-align: center;
    margin: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

#mainbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 25px;
    padding: 20px;
}

.BookBox {
    width: 230px;
    height: auto;
    background: linear-gradient(145deg, #1a0000, #000);
    color: white;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(255, 0, 0, 0.4);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    position: relative;
    margin: 20px 50px;
    border: none;
    transition: all 0.5s ease-in-out;
}

.BookBox:hover {
    transform: scale(1.07);
    box-shadow: 0 0 20px red, 0 0 30px black;
}

.BookBox button {
    margin-bottom: 20px;
    cursor: pointer;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    border: none;
    transition: all 0.5s ease-in-out;

}

.BookBox button:hover {
    background-color: red;
    transform: scale(1.1);
    font-weight: bold;
}

#img img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-bottom: 2px solid red;
}

#BookContent {
    padding: 10px;
}

#BookContent h1 {
    font-size: 1.1rem;
    color: #ff4d4d;
    text-transform: uppercase;
    margin: 8px 0;
    text-shadow: 0 0 5px black;
}

#BookContent h2 {
    font-size: 0.9rem;
    font-weight: 400;
    color: #ccc;
}

#searchBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#searchBox input {
    width: 300px;
    height: 35px;
    border-radius: 8px;
    border: 2px solid goldenrod;
    padding: 5px 10px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.3s ease;
}

#searchBox button {
    margin-left: 10px;
    width: 80px;
    height: 45px;
    border-radius: 8px;
    border: none;
    background-color: goldenrod;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.3s ease;
}

#searchBox input:hover {
    outline: none;
    border-color: orange;
    box-shadow: 0 0 5px orange;
}

#searchBox button:hover {
    background-color: orange;
    font-weight: bold;
}

#searchResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#searchResults h1 {
    text-align: center;
    color: goldenrod;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: auto;
}

#searchResults h2 {
    font-size: medium;
    justify-content: center;
    margin: 20px;
    justify-self: center;
}